button {
    background: none;
    color: inherit;
	border: none;
	padding: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.card--style {
    background-color: lightblue;
    border-radius: 1rem;
    height: 10rem;
    width: 10rem;
    padding: 1rem;
    margin: 1rem;
    position: relative;
}


.footer--style {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}