.openModalButton {
    text-align: center;
    font-weight: 900;
    font-size: larger;
    transform: scale(1);
    background-color: orange;
    width: 4rem;
    height: 4rem;
    border-radius: 8rem;
    position: fixed;
    right: 5%;
    bottom: 10%;
    box-shadow:
    0 3px 3px hsl(0deg 0% 0% / 0.3);
}

.openModalButton:hover {
    transform: scale(1.1);
    transition: all 300ms;
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.overlay__background {
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    z-index: 10;
    inset: 0px;
    animation: fade-in 300ms;
}


.form {
    background: rgb(255, 255, 255);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: scale(1) translate(-50%, -50%);
    z-index: 20;
    border-radius: 1rem;
    box-shadow:
    0 6px 6px hsl(0deg 0% 0% / 0.3);
    transition: all 300ms;
    transition-delay: 100ms;
}

.formContainer {
    margin: 2rem;
    border-radius: 8px;
}