.submitButton {
    border-radius: 2rem;
    border: none;
    background-color: #4F92F7;
    padding: 1rem;
    font-weight: 800;
    font-size: medium;
    color:#ffffff;
}

.inputField {
    border-radius: 5px;
    border-style: none;
    background-color: rgb(226, 237, 240);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin: .5rem;
}

.inputErrorMessage {
    font-size: x-small;
}

select {
    margin: .5rem;
    border-radius: 2rem;
    border: solid white 1px;
    background: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    color:white;
}