#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

body {
  background: linear-gradient(135deg, #BFA8EC 0%, #007DE3 100% );
  color:white;
}

h1 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h2 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
#board-container {
  justify-items: center;
}

#board-title-container {
  /* background-color: #667eea; */
  display: flex;
  justify-content: space-between;
  width: 70vw;
}

#board-title {
  align-self: center;
}

#select-board {
  align-self: center;
}

.collapsible {
  /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  font-weight: bolder;
  background:white;
  color: rgb(41, 106, 196);
  width: 100%;
  cursor: pointer;
}

.collapsible-container {
  border-radius: .5rem;
  color: rgb(41, 106, 196);
  background-color: white;
  width: 30vw;
  position: relative;
  align-items: center;
  justify-self: center;
}

#board-views {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.board-control { 
  display: flex; 
  align-items: center; 
  gap: 0.5em; 
  justify-content: center;
}