#root {
  max-width: 1280px;
  margin: .5rem auto;
  padding: 2rem;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 2em;
}

.collapsible {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  cursor: pointer;
}

#board-views {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.board-control { 
  display: flex; 
  align-items: center; 
  gap: 0.5em; 
  justify-content: center;
}