#root {
  max-width: 1280px;
  margin: 10rem auto;
  padding: 2rem;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 2em;
}

